name: Sync Docker Images AliYun
on:
  schedule:
    - cron: '0 0 * * 5' # 每周五 00:00 UTC 执行任务
  workflow_dispatch:  # 允许手动触发同步

jobs:
  # 定义任务
  sync:
    runs-on: ubuntu-latest # 运行在 Ubuntu Linux环境上
    env:
      ALIYUN_USERNAME: 去棹残阳里
      ALIYUN_PASSWORD: TianLi71773@
      ALIYUN_REGISTRY: crpi-b9tacpruhecfbbdk.cn-beijing.personal.cr.aliyuncs.com
      IMAGE_REPO: lupiter/lupiter # 镜像库名，可以根据需要修改

    # 定义动作
    steps:
      - name: 1.代码检出
        uses: actions/checkout@v4

      - name: 2.登录阿里云容器镜像服务
        run: |
          docker login --username=$ALIYUN_USERNAME --password=$ALIYUN_PASSWORD $ALIYUN_REGISTRY

      - name: 4.同步 Docker 镜像
        run: |
          # 拉取 Docker 镜像
          docker pull mysql:8.0.41
          # 标记镜像
          docker tag mysql ${ALIYUN_REGISTRY}/${IMAGE_REPO}:8.0.41
          # 推送到阿里云
          docker push ${ALIYUN_REGISTRY}/${IMAGE_REPO}:8.0.41
          
      - name: 调试信息
        run: |
          echo "Docker images 命令"
          docker images
